/* Bulma Tweaks */
.navbar-dropdown a.navbar-item:not(.is-active,.is-selected), 
a.dropdown-item, button.dropdown-item {
  background-color: unset;
}
.navbar-dropdown a.navbar-item:hover, 
a.dropdown-item:hover, button.dropdown-item:hover {
  background-color: #003b4a;
}
.card .card-image img, .file.is-boxed.has-name .file-cta {
  border-radius: unset;
}
.has-header-background-color {
  background-color: #073642
}


/* Status Indicators */
.recording-status > .on {
  display: none;
}
.recording-status > .on.active {
  display: flex;
}
.recording-status > .off {
  display: none;
}
.recording-status > .off.active {
  display: flex;
}

.motion-detection-status .card-header-title {
  color: white;
}
.motion-detection-status > .on {
  display: none;
}
.motion-detection-status > .on.active {
  display: flex;
}
.motion-detection-status > .off {
  display: none;
}
.motion-detection-status > .off.active {
  display: flex;
}