<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motionberry {{ version }}</title>

    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">

    <!-- Android Chrome Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='android-chrome-512x512.png') }}">

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/bulmaswatch.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="{{ url_for('static', filename='favicon-32x32.png') }}" alt="Motionberry">
          <b>Motionberry</b>
        </a>
      </div>
    </nav>

    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <span>
        </span>
        <p>v{{ version }}</p>
    </div>
</footer>
</html>