{% extends "base.html" %}
{% block content %}
  <div class="columns is-centered">
    <div class="column is-half">

      <div class="card">
        <span class="motion-detection-status">

          <span class="off">
            <span class="recording-status is-flex-grow-1">
              <header class="card-header off has-header-background-color">
                <p class="card-header-title">&nbsp;</p>
              </header>
    
              <header class="card-header on has-background-warning">
                <p class="card-header-title">&nbsp;</p>
              </header>
            </span>
          </span>

          <span class="on">
            <span class="recording-status is-flex-grow-1">
              <header class="card-header off has-background-success">
                <p class="card-header-title">&nbsp;</p>
              </header>
    
              <header class="card-header on has-background-warning">
                <p class="card-header-title">&nbsp;</p>
              </header>
            </span>
          </span>

        </span>




        <div class="card-image">
          <figure class="image">
            <img class="video-stream" src="{{ url_for('ui.video_feed') }}?stream={{ stream }}" alt="Live Camera Feed">
          </figure>
        </div>

        <footer class="card-footer motion-detection-status">
          <a href="{{ url_for('api.disable_detection') }}" class="card-footer-item on api-action">
            <span class="icon">
              <i class="fas fa-eye"></i>
            </span> Detection
          </a>
          <a href="{{ url_for('api.enable_detection') }}" class="card-footer-item off api-action">
            <span class="icon">
              <i class="fas fa-eye-slash"></i>
            </span> Detection
          </a>
          <a href="{{ url_for('api.take_snapshot') }}" class="card-footer-item api-action">
            <span class="icon">
              <i class="fas fa-camera"></i>
            </span> Snapshot
          </a>
          <div class="dropdown is-right card-footer-item">
            <div class="dropdown-trigger">
              <a href="#" onclick="event.preventDefault();" class="card-footer-item">
                <span class="icon">
                  <i class="fas fa-video"></i>
                </span> Clip
              </a>
            </div>
            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
              
              <div class="dropdown-content">
                <a href="{{ url_for('api.record') }}" class="dropdown-item api-action" data-body='{"duration": 30}'> 30s </a>
                <a href="{{ url_for('api.record') }}" class="dropdown-item api-action" data-body='{"duration": 60}'> 1m </a>
              </div>

            </div>
          </div>
        </footer>
      </div>

    </div>
  </div>
{% endblock %}
