{% extends "base.html" %}
{% block content %}
  <div class="columns is-centered">
    <div class="column is-half">

      <div class="card">
        <span class="motion-detection-status">

          <header class="card-header off">
            <p class="card-header-title">Detection Off</p>
          </header>

          <span class="on">
            <span class="recording-status">
              <header class="card-header off has-background-success">
                <p class="card-header-title">Detection On</p>
              </header>
    
              <header class="card-header on has-background-warning">
                <p class="card-header-title">Recording</p>
              </header>
            </span>
          </span>

        </span>




        <div class="card-image">
          <figure class="image">
            <img class="video-stream" src="{{ url_for('ui.video_feed') }}" alt="Live Camera Feed">
          </figure>
        </div>

        <footer class="card-footer">
          <span class="motion-detection-status">
            <a href="{{ url_for('api', 'disable_detection') }}" class="card-footer-item on api-action">Detection: ON</a>
            <a href="{{ url_for('api', 'enable_detection') }}" class="card-footer-item off api-action">Detection: OFF</a>
          </span>
          <a href="{{ url_for('api', 'snapshot') }}" class="card-footer-item api-action">Snapshot</a>
        </footer>
      </div>

    </div>
  </div>
{% endblock %}
